$blueTheme: #34495E;

// GENERAL STYLES 
body {
  padding: 0;
  margin: 0;
}

.left {
  display: inline-block;
  float: left;
}

.right {
  display: inline-block;
  float: right;
}
// TEXT STYLES

.small {
  font-size: 8pt;
  color: white;
  margin: 0;
  vertical-align: top;
}


// HEADER STYLES

#header {
  background-color: $blueTheme;
  height: 60px;
  width: 100%;
  padding: 8px 15px;
  box-sizing: border-box;
  font-size: 18pt;
  color: white;
  margin: 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  img {
   height: 35px; 
   padding: 5px 15px;
  }
  div {
    display: inline-block;
  }
}

#sidebar-button {
  height: 45px;
  overflow: hidden;
  text-align: center;
  margin: 0px 5px;
  float: left;
}

.dropdown {
    padding: 25px 15px 25px 0px;
    &:after {
      content: "";
      margin: -6px -6px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #fff;
    }
}


.fa-bars {
  margin-top: 0px;
}

