<div id="header">
  
  
    <div id="sidebar-button">
      <i class="fa fa-bars"></i><br><span class="small"> Lessons </span>
    </div>
  <div class="left">
    <%= image_tag '/images/fedora_logo.png' %>
  </div>
  

  <div class="right">
    <div class="dropdown right"></div>
    <%= image_tag '/images/default_avatar.png' %>
  </div>

</div>